DesignPatterns.RemoteProxy.ClientApp/Service References/ActualPrices/ActualPricesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ActualPricesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55473/ActualPricesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55473/ActualPricesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IActualPrices_GetUsdToUah_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsdToUah" />
  </wsdl:message>
  <wsdl:message name="IActualPrices_GetUsdToUah_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsdToUahResponse" />
  </wsdl:message>
  <wsdl:message name="IActualPrices_GetEuroToUah_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEuroToUah" />
  </wsdl:message>
  <wsdl:message name="IActualPrices_GetEuroToUah_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEuroToUahResponse" />
  </wsdl:message>
  <wsdl:portType name="IActualPrices">
    <wsdl:operation name="GetUsdToUah">
      <wsdl:input wsaw:Action="http://tempuri.org/IActualPrices/GetUsdToUah" message="tns:IActualPrices_GetUsdToUah_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActualPrices/GetUsdToUahResponse" message="tns:IActualPrices_GetUsdToUah_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEuroToUah">
      <wsdl:input wsaw:Action="http://tempuri.org/IActualPrices/GetEuroToUah" message="tns:IActualPrices_GetEuroToUah_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActualPrices/GetEuroToUahResponse" message="tns:IActualPrices_GetEuroToUah_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IActualPrices" type="tns:IActualPrices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsdToUah">
      <soap:operation soapAction="http://tempuri.org/IActualPrices/GetUsdToUah" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEuroToUah">
      <soap:operation soapAction="http://tempuri.org/IActualPrices/GetEuroToUah" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActualPricesService">
    <wsdl:port name="BasicHttpBinding_IActualPrices" binding="tns:BasicHttpBinding_IActualPrices">
      <soap:address location="http://localhost:55473/ActualPricesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>